<?php

use Magento\Framework\Escaper;
use Syte\Tracker\Block\DataJson;

/**
 * @var DataJson $block
 * @var Escaper $escaper
 */
$product = $block->getCurrentProduct();
?>
<script>window.syteDataLayer = window.syteDataLayer || [];</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Syte_Tracker/js/actions/product-detail": {
                "sku": "<?= $escaper->escapeJs($product->getSku()) ?>"
            }
        }
    }
</script>
